<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532343460517-v7b4ok0tkau7j2okg54iau6f72p3pjnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532343460517-v7b4ok0tkau7j2okg54iau6f72p3pjnv</string>
	<key>API_KEY</key>
	<string>AIzaSyCGWYjAJJYHLGAvs0XHOgHhu9KvmE-bicw</string>
	<key>GCM_SENDER_ID</key>
	<string>532343460517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-dffe7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-dffe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532343460517:ios:83255847106098ae74734c</string>
</dict>
</plist>